.storybook-quiz {
    padding: 20px;
}

.storybook-quiz .quizQn {
    padding: 20px;
    background: #4c93ba;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}

.storybook-quiz .quizAns {
    padding: 20px;
    display: grid;
    background: #fafafa;
    border: 5px solid #eee;
    border-radius: 20px;
    row-gap: 20px;
    font-size: 20px;
}