.storybook-quiz {
    padding-top: 20px;
}

.storybook-quiz .quizQn {
    padding: 20px;
    background: #4c93ba;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}

.storybook-quiz .quizAns {
    padding: 20px;
    display: grid;
    background: #fafafa;
    border: 5px solid #eee;
    border-radius: 20px;
    row-gap: 20px;
    font-size: 20px;
}

.storybook-quiz .quizBtnAlign {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 200px 400px 200px;
    grid-column-gap: 68px
}

.storybook-quiz .quizSubmitBtnAlign{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 5px
}

.storybook-quiz .quizBtnLeftAlign {
    text-align: left;
}

.storybook-quiz .quizBtnRightAlign {
    text-align: right;
}